name: train-my-model
on: [push]
jobs:
    run:
        runs-on: [self-hosted, cml]
        steps:
            - uses: actions/checkout@v2
            env:
              REPO_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
            - name: cml_run
            run: |
              #pip install -r requirements.txt
              #dvc repro               
              cat metrics.txt > report.md
              dvc metrics diff --show-md master >> report.md
              cml-publish confusion_matrix.png --md >> report.md
              cml-send-comment report.md